/* h2 {
  color: blue;
  text-align: center;
} */

/* typing animation */
.main-title {
  width: 60%;
  width: 60ch;
  font-size: 30px;
  /* text-align: center; */
  color: black;
  -webkit-text-stroke-color: skyblue;
  -webkit-text-stroke-width: 1px;
  text-shadow: 3px 5px 6px black;
}
.main-title > h2 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2em;
  opacity: 1;
  border-right: 3px solid red;
  animation: printing 15s steps(20, end) infinite, blink 0.5s step-end infinite;
}
@keyframes printing {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}
/*route*/
.myUl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(84, 74, 64, 0.4);
  width: 80%;
  height: 50px;
  margin-left: 10%;
  list-style: none;
}
.route a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.route a:hover {
  color: green;
}
/* search-box */
/* .search {
  width: 20%;
  height: 30px;
  margin-left: 40%;
  font-size: 18px;
} */
/* media query */
@media screen and (max-width: 650px) {
  .myUl {
    /* width: 70%;
    min-height: 40%; */
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    /* background: rgba(84, 74, 64, 0.7); */
  }
  /* li a {
  } */
  .route {
    width: 250px;
    height: 40px;
    background: rgba(84, 74, 64, 0.4);
    padding: 0px 2px;
    margin-top: 2px;
  }
  /* typing animation */
  .main-title {
    width: 100%;
    width: 40ch;
    font-size: 20px;
    /* text-align: center; */
    color: black;
    -webkit-text-stroke-color: skyblue;
    -webkit-text-stroke-width: 1px;
    text-shadow: 3px 5px 6px black;
  }
  .main-title > h2 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.2em;
    opacity: 1;
    border-right: 3px solid red;
    animation: printing 15s steps(20, end) infinite,
      blink 0.5s step-end infinite;
  }
  @keyframes printing {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }
  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: red;
    }
  }
}
